@model Projekcik.application.Users.ChangePasswordDto

@{
    ViewData["Title"] = "Zmiana Hasła";
}

<h1>Zmiana hasła</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdZawodnika" />

            <div class="form-group mb-3">
                <label asp-for="StareHaslo" class="control-label">Aktualne hasło</label>
                <input asp-for="StareHaslo" type="password" class="form-control" />
                <span asp-validation-for="StareHaslo" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NoweHaslo" class="control-label">Nowe hasło</label>
                <input asp-for="NoweHaslo" type="password" class="form-control" />
                <span asp-validation-for="NoweHaslo" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PowtorzHaslo" class="control-label">Powtórz nowe hasło</label>
                <input asp-for="PowtorzHaslo" type="password" class="form-control" />
                <span asp-validation-for="PowtorzHaslo" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Zmień hasło" class="btn btn-primary" />
                <a asp-action="Edit" asp-route-id="@Model.IdZawodnika" class="btn btn-secondary">Powrót</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}