@model Projekcik.application.Robots.RobotEditDto

@{
    ViewData["Title"] = "Edycja Robota";
}

<h1>Edycja Robota</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdRobota" />

            <div class="form-group mb-3">
                <label asp-for="NazwaRobota" class="control-label fw-bold"></label>
                <input asp-for="NazwaRobota" class="form-control" />
                <span asp-validation-for="NazwaRobota" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="IdKategorii" class="control-label fw-bold">Kategoria</label>
                <select asp-for="IdKategorii" class="form-control" asp-items="ViewBag.Kategorie">
                    <option value="0">-- Wybierz kategorię --</option>
                </select>
                <span asp-validation-for="IdKategorii" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="IdDruzyny" class="control-label fw-bold">Drużyna</label>
                <select asp-for="IdDruzyny" class="form-control" asp-items="ViewBag.Druzyny">
                    <option value="0">-- Wybierz drużynę --</option>
                </select>
                <span asp-validation-for="IdDruzyny" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="IdZawodnika" class="control-label fw-bold">Operator</label>
                <select asp-for="IdZawodnika" class="form-control" asp-items="ViewBag.Zawodnicy">
                    <option value="0">-- Wybierz operatora --</option>
                </select>
                <span asp-validation-for="IdZawodnika" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Zapisz zmiany" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</div>